body {
  margin: 0;
  padding: 0;
}
.container {
}
.margin-top {
  margin-top: 100px;
}
header,
nav,
.navbar {
  margin: 0;
  padding-bottom: 0;
  min-height: 80px;
}

header {
  /* height: 100px;*/
  background: #343a40;
  height: 50px;
  /*padding-top: 30px;
  padding-bottom: 30px; */
}
.pages {
  padding-top: 20px;
}

.appFont1 {
  color: rgb(52, 88, 119);
}
.appFont2 {
  color: rgb(84, 154, 219);
}
.bkdBlack {
  background: #111;
  color: #fff;
}
i {
  margin-right: 4px;
}
.btn {
  margin-right: 5px;
}
.small {
  font-size: 14px;
}
.appBdk1 {
  background: rgb(52, 88, 119);
}
.headerFont {
  font-size: 14px;
  font-weight: bold;
}
.listingCmds {
}
.list-group-item a,
.list-group-item:hover {
  color: #111;
  text-decoration: none;
}
.dateTime {
  font-size: 12px;
  color: #333;
}
img {
  width: 100%;
  height: auto;
}
.btnNew {
  background: green;
  color: #fff;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.list-group-item {
  margin-bottom: 5px;
}
.fullWidth {
  width: 100%;
}
.table {
  clear: left;
}
ul.table li {
  float: left;
  display: block;
  font-size: 16px;
}
.authForm {
  max-width: 300px;
}
.item-name {
  width: 30%;
}
.home-wrapper {
  text-align: center;
}
.home-wrapper h3 {
}
.home-link-wrapper {
  padding: 10%;
}
.home-link-wrapper ul li {
  margin: 20px auto;
}
.home-login {
  clear: left;
  width: 100px;
  text-align: center;
  background: blue;
  color: #fff;
  padding: 5px 25px;
  border-radius: 20px;
}
.home-reg {
  clear: left;
  width: 100px;
  text-align: center;
  background: green;
  color: #fff;
  padding: 5px 25px;
  border-radius: 20px;
}
.item-email {
  width: 35%;
}
.item-bal {
  width: 15%;
  text-align: right;
}
.item-clientid {
  width: 25%;
}
.item-txdate {
  width: 10%;
}
.item-tx {
  width: 10%;
}
.item-cmd {
  width: 20%;
  text-align: right;
}
.desktop {
  display: block;
}
.mobile {
  display: none;
}
.content {
  float: left;
  min-width: 400px;
}
.sidebar {
  float: right;
}
.nav-link {
  color: #fff;
  background: transparent;
  border: none;
}
.user-logo {
  background: orangered;
  color: #fff;
  border-radius: 80px;
  padding: 12px;
}
.sidebar {
}
.notify-wrapper {
  background: #fff;
  min-height: 100px;
  padding: 15px;
}
.detail {
  background: #fff;
  padding: 20px;
  min-height: 300px;
}
.detail-content {
  min-height: 200px;
}
.item {
  background: #fff;
  padding: 20px;
  min-height: 100px;
}
@media (max-width: 500px) {
  header,
  nav,
  .navbar {
    min-height: 50px;
  }
  header {
    padding-top: 0;
    padding-bottom: 0;
  }
  .sidebar {
    margin-top: 20px;
    padding-top: 10px;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
  ul.navbar-nav mr-auto menu {
    display: none;
    clear: left;
    width: 100%;
  }
  ul.table li {
    float: none;
    clear: left;
    display: block;
    width: 100%;
    text-align: left;
  }
  h4 {
    font-size: 18px;
  }
  .navbar-brand {
    font-size: 18px;
  }
}
